<% include partials/header %>
<% include partials/navbar %>
<div class="main-container">    
    <div class="module">   
        <div class="blogs-header"><h1>Hellsten's Blog page</h1></div>    
        <% blogs.forEach(function(blog){ %>
        <div ><img class="blog-img" src="<%= blog.image %>" alt="Blog Image"></div>
        <div class="blog-name"><h3><%= blog.name %></h3></div>    
        <div class="blog-content">
        <p> <%- blog.description %></p>
        </div>
            <section class="blog-desc-bottom"> 
                <a class="read-more btn-def" href="/blogs/<%= blog._id %>">Read more!</a>
                <h4 class="blog-author"><em>Written by </em><%= blog.author.username %></h4>
            </section>
            <hr> 
        <% }); %>
    </div>         
</div>          

<% include partials/footer %>